<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgy.dao.promotiondao.PromotionSpaceMapper">

    <!--查询所有广告位-->
    <select id="findAllPromotionSpace" resultType="promotionSpace">
        SELECT * FROM promotion_space
    </select>

    <!--根据id查询广告位-->
    <select id="findAllPromotionSpaceById" parameterType="int" resultType="promotionSpace">
        SELECT id, name FROM promotion_space WHERE id = #{id}
    </select>

    <!--新增广告位-->
    <insert id="addPromotionSpace" parameterType="promotionSpace">
        INSERT INTO promotion_space VALUES(null, #{name}, #{spaceKey}, #{createTime}, #{updateTime}, #{isDel})
    </insert>

    <!--更新广告位信息-->
    <update id="updatePromotionSpace" parameterType="promotionSpace">
        UPDATE promotion_space SET name = #{name}, updateTime = #{updateTime} WHERE id = #{id}
    </update>

</mapper>