<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgy.dao.roledao.MenuMapper">
    <!--查询所有父子菜单信息-->
    <resultMap id="menuResult" type="menu">
        <id property="id" column="id"/>
        <result property="href" column="href"/>
        <result property="icon" column="icon"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="description" column="description"/>
        <result property="orderNum" column="orderNum"/>
        <result property="show" column="show"/>
        <result property="level" column="level"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>

        <collection property="menus" ofType="menu" select="findSubMenuByPid" column="id"/>
    </resultMap>

    <select id="findSubMenuByPid" parameterType="int" resultMap="menuResult">
        SELECT * FROM menu WHERE parent_id = #{id}
    </select>

    <!--查询所有菜单信息-->
    <select id="findAllMenu" resultType="menu">
        SELECT * FROM menu
    </select>

    <!--根据id查询菜单信息-->
    <select id="findMenuById" parameterType="int" resultType="menu">
        SELECT * FROM menu WHERE id = #{id}
    </select>
</mapper>