<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgy.dao.resourcedao.ResourceMapper">
    <!--资源多条件分页查询-->
    <select id="findAllResourceByPage" parameterType="com.hgy.gobal.ResourceVO" resultType="resource">
        SELECT * FROM resource
        <where>
            <if test="name != null">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>

            <if test="url != null">
                AND url = #{url}
            </if>

            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
        </where>
    </select>

    <!--查询所有资源分类信息-->
    <select id="findAllResourceCategory" resultType="resourceCategory">
        SELECT * FROM resource_category
    </select>
</mapper>